# Python build files
__pycache__/
build/
dist/
*.egg-info

# Virtualenv
.tox/

# JS build files + deps
lib/
node_modules/
package-lock.json
yarn.lock

# Built JLab extension
labextension/

# Log files
/*.log
