
.chi-Expand {
  width: 100%;
  height: 100%;
}

.chi-ArtifactSharing-embed {
  border: 0;
  width: 100%;
  height: 100%;
}

.chi-ArtifactSharing-Form {
  padding: 1rem 4rem 4rem;
  font-family: var(--jp-ui-font-family);
}

.chi-ArtifactSharing-Form h2 {
  font-weight: var(--jp-content-heading-font-weight);
  font-size: var(--jp-content-font-size5);
}

.chi-ArtifactSharing-Form a {
  color: var(--jp-content-link-color);
}

.chi-ArtifactSharing-Form p,
.chi-ArtifactSharing-Form li {
  max-width: 40em;
}

.chi-ArtifactSharing-FormActions {
  margin-top: 2rem;
}

.chi-ArtifactSharing-LoadingMessage {
  position: absolute;
  top: calc(50% - 3rem);
  color: var(--jp-ui-font-color3);
}

.chi-ArtifactSharing-ErrorMessage {
  background: var(--jp-error-color3);
  border: 1px solid var(--jp-error-color2);
  border-radius: var(--jp-border-radius);
  color: var(--jp-error-color1);
  padding: 1rem;
  margin-bottom: 2rem;
}

.jp-DirListing-item[data-artifact-id] .jp-icon3[fill] {
  fill: #74a93c;
}
