:root {
  --chi-binding0: var(--md-amber-50);
  --chi-binding1: var(--md-blue-50);
  --chi-binding2: var(--md-red-50);
  --chi-binding3: var(--md-green-50);
  --chi-binding4: var(--md-yellow-50);
  --chi-binding5: var(--md-purple-50);
}

.jp-Notebook .jp-Cell.jp-mod-active.chi-binding-0 .jp-Collapser {
  background: var(--chi-binding0);
}
.jp-Notebook .jp-Cell.jp-mod-active.chi-binding-0 .jp-InputArea-editor {
  border-color: var(--chi-binding0);
  box-shadow: inset 0 0 2px var(--chi-binding0);
}
.jp-Cell.chi-binding-0 .jp-InputArea-editor {
  background-color: var(--chi-binding0);
}

.jp-Notebook .jp-Cell.jp-mod-active.chi-binding-1 .jp-Collapser {
  background: var(--chi-binding1);
}
.jp-Notebook .jp-Cell.jp-mod-active.chi-binding-1 .jp-InputArea-editor {
  border-color: var(--chi-binding1);
  box-shadow: inset 0 0 2px var(--chi-binding1);
}
.jp-Cell.chi-binding-1 .jp-InputArea-editor {
  background-color: var(--chi-binding1);
}

.jp-Notebook .jp-Cell.jp-mod-active.chi-binding-2 .jp-Collapser {
  background: var(--chi-binding2);
}
.jp-Notebook .jp-Cell.jp-mod-active.chi-binding-2 .jp-InputArea-editor {
  border-color: var(--chi-binding2);
  box-shadow: inset 0 0 2px var(--chi-binding2);
}
.jp-Cell.chi-binding-2 .jp-InputArea-editor {
  background-color: var(--chi-binding2);
}

.jp-Notebook .jp-Cell.jp-mod-active.chi-binding-3 .jp-Collapser {
  background: var(--chi-binding3);
}
.jp-Notebook .jp-Cell.jp-mod-active.chi-binding-3 .jp-InputArea-editor {
  border-color: var(--chi-binding3);
  box-shadow: inset 0 0 2px var(--chi-binding3);
}
.jp-Cell.chi-binding-3 .jp-InputArea-editor {
  background-color: var(--chi-binding3);
}

.jp-Notebook .jp-Cell.jp-mod-active.chi-binding-4 .jp-Collapser {
  background: var(--chi-binding4);
}
.jp-Notebook .jp-Cell.jp-mod-active.chi-binding-4 .jp-InputArea-editor {
  border-color: var(--chi-binding4);
  box-shadow: inset 0 0 2px var(--chi-binding4);
}
.jp-Cell.chi-binding-4 .jp-InputArea-editor {
  background-color: var(--chi-binding4);
}

.jp-Notebook .jp-Cell.jp-mod-active.chi-binding-5 .jp-Collapser {
  background: var(--chi-binding5);
}
.jp-Notebook .jp-Cell.jp-mod-active.chi-binding-5 .jp-InputArea-editor {
  border-color: var(--chi-binding5);
  box-shadow: inset 0 0 2px var(--chi-binding5);
}
.jp-Cell.chi-binding-5 .jp-InputArea-editor {
  background-color: var(--chi-binding5);
}

.chi-Notebook-toolbarCellBindingDropdown select {
  height: 24px;
  font-size: var(--jp-ui-font-size1);
  line-height: 14px;
  border-radius: 0;
  display: block;
}

.chi-Notebook-toolbarCellBindingDropdown span {
  top: 5px !important;
}

.chi-HydraBindings {
  display: flex;
  color: var(--jp-ui-font-color1);
  background: var(--jp-layout-color1);
}

.chi-BindingStatus-header {
  font-size: var(--jp-ui-font-size2);
  border-bottom: 1px solid var(--jp-border-color2);
  padding: 6px 12px;
}

.chi-Binding {
  border-bottom: 1px solid var(--jp-border-color2);
}
.chi-Binding:hover {
  background: var(--jp-layout-color2);
  cursor: pointer;
}

.chi-BindingSummary {
  display: flex;
  padding: 12px;
}

.chi-BindingSummary-status {
  padding: 2px 5px 0 0;
}

.chi-BindingSummary-summary {
  flex: 1
}

.chi-BindingSummary-name {
  margin-bottom: 0;
  font-weight: bolder;
}

.chi-BindingState-disconnected {
  color: var(--jp-error-color0);
}

.chi-BindingState-progress {
  color: var(--jp-ui-font-color2);
}

.chi-BindingConnection {
  padding: 3px 12px 12px 33px;  /* 33 = 12 + 21 (width of icon + 5px padding) */
}

.chi-BindingConnection-header {
  font-size: var(--jp-ui-font-size0);
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 8px;
}

.chi-HydraBindings-content {
  flex-grow: 1;
}

.chi-HydraBindings-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chi-HydraBindings-placeholderContent {
  padding: 8px;
}
