keystoneauth1
python-cinderclient
python-glanceclient
python-ironicclient
python-keystoneclient
python-neutronclient
python-novaclient
python-openstackclient
python-swiftclient

# Chameleon forks
git+https://github.com/ChameleonCloud/python-blazarclient@chameleoncloud/xena#egg=python-blazarclient
git+https://github.com/ChameleonCloud/python-heatclient@chameleoncloud/xena#egg=python-heatclient
git+https://github.com/ChameleonCloud/python-zunclient@chameleoncloud/xena#egg=python-zunclient

# ChameleonCloud-provided
git+https://github.com/ChameleonCloud/jupyterlab-chameleon@main
python-chi~=0.17.12
PyYAML<5.4
paramiko>=2.9.0
