# JupyterLab extensions
ipyleaflet~=0.14
ipywidgets~=7.5
tqdm~=4.0

# IPython kernels
bash_kernel

# Commonly-used libraries
ansible
jupyterplot
matplotlib
numpy
pandas
paho-mqtt

# For IPython tab-completion
pyreadline

# For installing dev extensions
jupyter-packaging
