---
- hosts: KERNEL
  pre_tasks:
    - ansible.builtin.pip:
        name: "{{ item }}"
      loop:
        - jupyter_core
        - jupyter_client
    - ansible.builtin.shell: "jupyter --paths --json"
      register: jupyter_paths
    - ansible.builtin.set_fact:
        kernel_virtualenv: "{{ (jupyter_paths.stdout | from_json).data[0] }}/hydra-kernel/venv"
    - ansible.builtin.file:
        name: "{{ kernel_virtualenv }}/bin"
        state: directory
    # Mostly installing this to trigger virtualenv creation, so we can
    # install some other custom binaries there.
    - ansible.builtin.pip:
        name: ipykernel
        virtualenv: "{{ kernel_virtualenv }}"
    - ansible.builtin.copy:
        src: hydra_agent.py
        dest: "{{ kernel_virtualenv }}/bin/hydra-agent"
        mode: preserve
    - ansible.builtin.copy:
        src: hydra_subkernel.py
        dest: "{{ kernel_virtualenv }}/bin/hydra-subkernel"
        mode: preserve
  roles:
    - "{{ kernel_name }}"
